<!-- <footer class="">
    <div class="">
        <h3 class="">CREATED BY:</h3>
        <p class="">Ramon Estadella Serra</p>
        <p class="">(Master's in Development of Web Sites and Apps)</p>
    </div>
    <img class="" src="./assets/images/logo.png" alt="logoUOC">
    <div class="">
        <h3 class="">CONTACT</h3>
        <p class="">Reial Club de Tenis Barcelona 1899</p>
        <p class="">Bosch i Gimpera, 5-13</p> 
        <p class="">08034-Barcelona</p>
        <p class="">Phone: 932 037 852</p>
    </div>

    <img src="./assets/images/tennis-logo.png" alt="logo">
    
    <div class="">
        <i class="fab fa-google"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
    </div>
    

</footer> -->

<footer class="bg-[#DEEF40]">
    <div class="px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div>
                <h3 class="font-bold text-gray-800 text-md">CREATED BY:</h3>
                <p class="font-semibold text-gray-800 text-sm">Ramon Estadella Serra</p>
                <p class="font-semibold text-gray-800 text-sm">(Master's in Development of Web Sites and Apps)</p>
                
            </div>

            <div>
                <img class="mx-auto max-h-28" src="./assets/images/logo.png" alt="logoUOC">
            </div>

            <div class="md:pl-12">
                <h3 class="font-bold text-gray-800 text-md">CONTACT</h3>
                <p class="font-semibold text-gray-800 text-sm">Reial Club de Tenis Barcelona 1899</p>
                <p class="font-semibold text-gray-800 text-sm">Bosch i Gimpera, 5-13</p> 
                <p class="font-semibold text-gray-800 text-sm">08034-Barcelona</p>
                <p class="font-semibold text-gray-800 text-sm">Phone: 932 037 852</p>
            </div>

            <div>
                <img class="mx-auto max-h-28" src="./assets/images/tennis-logo.png" alt="logoUOC">
            </div>

        </div>
        
        
    </div>
</footer>